body{
    color: aliceblue;
    background-color: #222222
}
.form-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;

}
.movies{
    position: relative;
}

div.wait{
    width: 560px;
    height: 315px;    
    background-color:  #2c2169;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    
    
}

div.wait.stop{
    display:none;
}